@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=IBM+Plex+Mono:wght@200&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;400;600;700;900&family=PT+Serif:ital@1&family=Poiret+One&family=Source+Code+Pro:ital,wght@0,300;1,300&family=Space+Mono:ital,wght@1,700&display=swap');
*{
    margin: 0px auto;
    padding: 0px;
    list-style: none;
    font-family: 'Noto Sans KR';
    color: #333;
}
/* html {
    scroll-behavior: smooth;
} */
body{
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;

}
a{
    text-decoration: none;
    display: block;
}

.box{
    position: fixed;
    /* background-color: lightskyblue; */
    background-color: #fff;
    width: 100%;
    height: 70px;
    z-index: 100;
}
.logo{
    background-color: #fff;
    width: 100px;
    height: 40px;
    line-height: 40px;
    /* margin-top: 15px; */
    margin-left: 30px;
    text-align: center;
    float: left;
}
.logo img{
    width: 300px;
    margin-top: 5px;
    margin-left: 10px;
}
.menu{
    /* background-color: lightsalmon; */
    float: right;
    width: 500px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    
}
.menu li{
    float: left;
    /* padding-left: 80px; */
    width: 150px;
    height: 70px;
}
.menu a{
    /* padding-left: 10px; */
   font-weight: 400;
   margin-left: 5px;

   /* width: 150px; */
}
.menu a:hover{
    background-color: thistle;
}
.main{
    width: 100%;
    height: 540px;
}
.main a{
    float: left;
}
.main video{
    width: 951px;
    margin-left: 450px;
    margin: 0px;
}
.main div{
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: #f6f6f6;
    z-index: 10;
    top: 500px;
}

.contents{
    width: 100%;
    height: 1000px;
}
.notice div{
    width: 100px;
    height: 7px;
    background-color: thistle;
    text-align: center;
    line-height: 60px;
    font-size: 25px;
    font-family: 'Noto Sans KR';
    font-weight: bold;
    margin-top: 130px;
    margin-bottom: 100px;
    border: 1px solid #333;
    border-top: -30px;
    
}
.notice ul {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
}
.notice ul li{
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
}

h1{
    font-weight: 400;
    font-size: 17px;
    cursor: pointer;
}
h1:hover{
    color: thistle;
}
.bris{
    display: none;
    margin-bottom: 30px;
} 
.n_btn i{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    cursor: pointer;
}
.bris2{
    display: none;
    margin-bottom: 30px;
}
.bris2 img{
    width: 800px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.bris3{
    display: none;
    margin-bottom: 30px;
}
.bris4{
    display: none;
    margin-bottom: 30px;
}

.gallery div{
    width: 80px;
    height: 7px;
    background-color: thistle;
    text-align: center;
    line-height: 60px;
    font-size: 25px;
    font-family: 'Noto Sans KR';
    font-weight: bold;
    margin-top: 200px;
    margin-bottom: 100px;
    /* color: #777; */
    border: 1px solid #333;
    border-top: -30px;
}
.gallery ul{
    margin-left: 200px;
    margin-top: 50px;
    margin-right: 200px;
}
.gallery ul li{
    display: inline-block;
    margin: 7px;
    margin-bottom: 200px;
}
.gallery ul li img{
    width: 600px;
    height: 350px;
}
.gallery ul li img:hover{
    opacity: 0.7;
}

/* 모달 */
#modal{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 150;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}
#modal.active{
    display: block;
}

.modal_up{
    text-align: center;
}
.upbody img{
    width: 600px;
    margin-top: 20px;
}
.btn{
    position: absolute;
    top: 12px;
    left: 1260px;
    font-size: 25px;
    cursor: pointer;
}
.btn i{
    color: rgb(206, 206, 206);
}

.map{
    width: 100%;
    height: 500px;
    background-color: thistle;
}
footer{
    background-color: #fff;
    position: fixed;
    width: 100%;
    height: 70px;
    bottom: 0px;
}
.copy{
    float: left;
    line-height: 70px;
    margin-left: 30px;
    font-size: 12px;
}
.sns{
    float: right;
    margin-right: 30px;
}
.sns li {
    float: right;
    margin: 0px 5px;
}
.sns li a {
    font-size: 30px;
    line-height: 70px;
}
.sns li a:hover{
    opacity: 0.3;
}